html {height: 100%; margin: 0px;}
body {
	margin: 0px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
pre {
	font-size: 20pt;
}
table {
	border-collapse: collapse;
	flex-grow: 0;
	margin: 20px;
}
td {
	border: 1px solid black;
	height: 40px;
	width: 40px;
	transition: background-color 200ms linear;
	background-color: white;
}
#counter {
	font-size: 32pt;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0px 20px 0px 20px;
}
#buttons {
	padding: 10px;
}
.hbox {
	display: flex;
}
button {
	background-color: black;
	color: white;
	border: 2px solid white;
	padding: 10px 20px 10px 20px;
	margin: 0px 5px 0px 5px;
	font-weight: bold;
}
#smiley {
	font-size: 32pt;
}
#message-box {
	max-width: 600px;
}
